body{
  background:#035432;
}

/*
<audio controls autoplay loop>
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/939680/GuineaPigBridge.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
*/

body svg{
      display: block;
    /* height: 121%; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 120%;
    margin-left: -10%;
}
#yopick #skin path{
  fill:#8c5c3b;
}
#credits{
  position:fixed;
  bottom:10px;
  width:100px;
  height:30px;
  background:red;
  z-index:999;
  left:calc(50% - 50px);
  border-radius:8px;
text-align:center;
}
div a{
  color:white;
  text-align:center;
  margin-top:5px;
  text-decoration:none;
  line-height: 27px;
    font-size: 19px;
}
