body {
    font-family: 'Lato', 'Calibri', 'Arial';
    font-size: 12px;
    color: #333;
    line-height: 22px;
    background: #F6F6F6;
}


.button-default {
	background-image: #fdafe4;
	background-color: #ff6acf;
}
p { text-align: center }

footer { text-align: right }

#kurs { text-align: left }

.container-fluid {
	color: yellow;
}

.articlePage {
	column-count: 3;
}

main {
	margin-top: 60px;
}

img {
	width: 100%;
	height: auto;
}

img: nth-child(odd) {
	float: left;
}

#star {position: center;}

.container {margin:0 auto;}	
	
@media (min-width: 1100px) {
.container {width:1050px;}
aside {width:30%;}
#main {width:65%;}
}
@media (max-width: 1100px) and (min-width: 1000px) {
.container {width:950px;}
aside {width:30%;}
#main {width:65%;}
}
@media (max-width: 1000px) and (min-width: 800px) {
.container {width:750px;}
aside {width:30%;}
#main {width:65%;}
}
@media (max-width: 800px) and (min-width: 500px) {
.container {width:450px;}
aside,
#main {width:100%;}
}
@media (max-width: 500px) {
.container {width:90%;}
aside,
#main {width:100%;}
}