/* ------------------------------- Start General ----------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*body {
    background: #e0fff4;
}
ul, ol {
    list-style: none;
}
/* ------------------------------- End General ------------------------------------------- */
/* ------------------------------- Start rotate ----------------------------------------- */
.parent {
    margin: 50px auto;
}
.rotate .rotate-ul {
    position: relative;
}
.rotate .rotate-ul .rotate-ul-li {
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: .3;
    border-radius: 10% 10% 10% 10%;
}
.rotate .rotate-ul .rotate-ul-li:hover {
    cursor: pointer;
    opacity: 1 !important;
    transition: opacity .3s;
    z-index: 9999999 !important;
}
.rotate .rotate-ul .rotate-ul-li:first-of-type {
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/515HfOnovtL._SL500_AA300_.png);
}
.rotate .rotate-ul .rotate-ul-li:nth-of-type(2) {
    background-image: url(https://res.cloudinary.com/duo41k2sh/image/upload/v1454254508/git-logo_bv0ydu.jpg);
}
.rotate .rotate-ul .rotate-ul-li:nth-of-type(3) {
    background-image: url(https://lh3.googleusercontent.com/uXLv9yEWE6GvkGDt7pLr5Lnk1hiK1SaFywAU6AZCjRQjH9FG2DmXLziIFeow5GGF1Bj1=w300);
}
.rotate .rotate-ul .rotate-ul-li:nth-of-type(4) {
    background-image: url(https://www.ibcnet.com/UserFiles/image/icon_jquery.jpg);
}
.rotate .rotate-ul .rotate-ul-li:nth-of-type(5) {
    background-image: url(https://seeklogo.com/images/J/javascript-js-logo-2949701702-seeklogo.com.png);
}
.rotate .rotate-ul .rotate-ul-li:nth-of-type(6) {
    background-image: url(http://wpandsuch.com/wp-content/uploads/css3-logo-icon.jpg);
}
.rotate .rotate-ul .rotate-ul-li:nth-of-type(7) {
    background-image: url(http://images.computerhistory.org/timeline/timeline_sw.languages_2014_html5.jpg);
}
.rotate .rotate-ul .rotate-ul-li:last-of-type {
    background-image: url(https://aptonic.com/blog/wp-content/uploads/2015/08/python-logo.png);
}
/* ------------------------------- End rotate ------------------------------------------ */
/* ------------------------------- Start Mediaquery ------------------------------------- */
@media (min-width: 100px) and (max-width: 767px) {
    /* X Small Screen */
    .parent {
        width: 95%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* Small Screen */
    .parent {
        width: 85%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    /* Medium Screen */
    .parent {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    /* Larg Screen */
    .parent {
        width: 65%;
    }
}
/* ------------------------------- End Mediaquery --------------------------------------- */
